@font-face {
    font-family: 'Montserrat-Black';
    src: url('./Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('./Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./Montserrat-Regular.ttf');
}

:root {
    --primary: #e38c8a;
    --business: #7686a6;
    --other: #ffb7ad;
    --personal: var(--primary);
    --gray: #2f2c40;
    --light: #7686a6;
    --dark: #131017;
    --danger: #FF5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgb(118, 134, 166, 0.75);
    --personal-glow: 0px 0px 4px rgb(227, 140, 138, 0.75);
    --other-glow: 0px 0px 4px rgb(255, 183, 173, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background: var(--light);
    color: var(--dark);
    display: flex;
    flex-direction: column;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--gray);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title {
    display:flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
}

.input-content {
    display: flex;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-todo input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 1.5rem;
    position: absolute;
}

#new-category {
    text-align: center;
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.form-control input {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
    position: relative;
}

.create-todo .options {
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(var(--business-glow));
}

.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble.other {
    border-color: var(--other);
    box-shadow: var(--other-glow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble.other::after {
    background-color: var(--other);
    box-shadow: var(--other-glow);
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
    opacity: 0.75;
}

.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
    flex: 1 1 0%;
}
.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .todo-content span {
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
    opacity: 0.75;
}

.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}

.todo-item .actions .delete {
    background-color: var(--danger);
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--gray);
}

@media screen and (max-width:350px) {
    :root {
        font-size: xx-small;
        width: 90%;
    }
    .bubble {
        width: 15px;
        height: 15px;
    }
    .todo-item .todo-content input {
        font-size: 1.17rem;
    }
    .create-todo .options label {
        padding: 1rem;
    }
    .create-todo input#content {
        width: 75%;
    }
}

@media screen and (min-width:350px) and (max-width:500px) {
    :root {
        font-size: x-small;
        width: 95%;
    }
    .bubble {
        width: 15px;
        height: 15px;
    }
    .create-todo input#content {
        width: 85%;
    }
} 

@media screen and (min-width:2400px) {
    :root {
        font-size: 32pt;
        width: 102%;
    }
    .create-todo input[type="text"] {
        font-size: 1.125rem;
    }
    .bubble {
        width: 40px;
        height: 40px;
        border: 4px solid var(--business);
    }
    .todo-item .actions button {
        display: block;
        padding: 1rem;
        font-size: 1.125rem; 
    }
}